# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and Build
node_modules
dist
dist-ssr

# MÔI TRƯỜNG (
.env
.env.*
!.env.example

# Caches (Nên thêm vào để tránh nặng repo)
.vite/
.eslintcache
coverage/

# Hệ điều hành 
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


package-lock.json


src_2/

# CodeGraph
.codegraph/
